.home {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  color: #171717;

  h1 {
    font-size: 400%;
    text-align: center;
    line-height: 100%;
    margin: auto;

    span {
      color: #FFFFFF;
    }
  }
}
