section.home {
	display: flex;
	margin: auto;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: 400%;
		text-align: center;
		line-height: 100%;
		span {
			color: #EFEFEF;
		}
	}
	a {
		color: #ff04c9;
	}
}