@import url('https://fonts.googleapis.com/css?family=Exo:300,400,600,700,900');

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  #page {
    min-height: 100vw;
    .links {
      bottom: 0 !important;
    }
  }

}

::selection {
  background: transparent;
}

* {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}
