@import url('https://fonts.googleapis.com/css?family=Exo:300,400,600,700,900');

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

::selection {
  background: transparent;
}

* {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}
