@import url('https://fonts.googleapis.com/css?family=Exo:300,600,700');

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar-track {
  background-color: rgb(28, 27, 27)
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #rgba (255, 255, 255, .2)
}

*::-webkit-scrollbar-thumb {
  background: #715ebd -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgb(117, 77, 167)), color-stop(0.5, #744fa9), to(transparent))
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  #page {
    min-height: 100vw;

    .links {
      bottom: 0 !important;
    }
    #content section {
      @include respond-to(small) {
        padding: 0;
        max-height: calc(100vh - 1rem);
        min-height: calc(100vw - 2rem);
      }
    }
  }

}

::selection {
  //background: transparent;
}

* {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}
