
.guitar {
  width: 80vw;
  .buttons {
    margin: 2rem 0;
  }
  .StringRow {
    display: flex;
    flex: 1;
    flex-direction: column;
    .StringRow_list {
      padding: 0;
      margin: 0;
      display: flex;
      flex: 1;
      &:first-child {
        margin-top: 6rem;
        @for $i from 1 through 18 {
          li:nth-child(#{$i+1}):after {
            content: '#{$i}';
            position: absolute;
            top: -5rem;
            border-bottom: 1px solid #ccc;
            width: 94%;
            display: flex;
            justify-content: center;
          }
        }
        li:nth-child(4):before,
        li:nth-child(6):before,
        li:nth-child(8):before,
        li:nth-child(10):before,
        li:nth-child(16):before,
        li:nth-child(18):before {
          content: '';
          position: absolute;
          top: -2rem;
          border: 1px solid #ccc;
          border-radius: 50%;
          background: #CCC;
          width: 1rem;
          height: 1rem;
          display: flex;
          justify-content: center;

        }
        li:nth-child(13):before {
          content: '';
          position: absolute;
          top: -2rem;
          border: 1px solid #ccc;
          box-shadow: 5px 0 0 #CCC;
          border-radius: 50%;
          width: 1rem;
          height: 1rem;
          display: flex;
          justify-content: center;
        }
        li:nth-child(1):before {
          content: '';
          position: absolute;
          top: -2rem;
          border: 1px solid #ccc;
          border-radius: 50%;
          width: 1rem;
          height: 1rem;
          display: flex;
          justify-content: center;
        }
      }

      li {
        display: flex;
        flex: 1;
        justify-content: center;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(9),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(17),
        &:nth-child(19),
        &:nth-child(20),
        &:nth-child(21) {
          background: #1c1b1a;
        }

        span {
          width: 100%;
          padding: 5px;
          min-width: 3rem;
          min-height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #666;
          &.active {
            border: 1px solid $specialYellow;
            color: $specialYellow
          }
        }
        &:first-child {
          margin-right: 2rem;
          padding-right: 2rem;
          border-right: 1rem solid #5d6bab;
        }
        &:last-child {
          flex: 0;
        }
        &.index {
          border: 0
        }
      }
    }
  }
}

