.infoList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;

  > div {
    min-width: 230px;
    flex: 1;
  }
}

ul.icons {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  li {
    padding: 2rem;
    margin: 2rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
  }
}
