#app {
    display: flex;
    background-color: #8f1ef7;
    min-height: 100vh;
    font-size: 14pt
}

#view {
    margin: auto;
}

#content {
	transition: .1s ease-in;
	&.blur {
	    filter: blur(25px);
	    transition: .3s ease-out;
	    transform: translateX(5rem)
	}
}