.copyright {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  left: 4rem;
  color: #9c9c9c;
  font-size: 50%;
  display: flex;
  justify-content: space-between;
  z-index:10;

  a {
    color: $specialYellow
  }
}
