.copyright {
  position: fixed;
  bottom: 4rem;
  color: $lightGrey;
  font-size: 50%;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  &.left {
    left: 4rem;
  }

  &.right {
    right: 4rem;

    a {
      color: $lightGrey;
    }
  }
}
