.home {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  color: $textBlack;

  h1 {
    font-size: 200%;
    text-align: center;
    line-height: 120% !important;
    .high {
      font-size: 206%;
      color: $textWhite;
      text-shadow: -0.5rem 0.4rem 0.5rem rgba(28, 17, 53, 0.6)
    }
    .low {
      color: #667dea;
      user-select: text;
      &::selection {
        background: #FFF;
      }
    }
  }

}
