$small: 600px;
$large: 1200px;

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $small + 1) { @content; }
    }
}

#menuHoverZoneVert {
    height: 100vh;
    width: 14rem;
    position: fixed;
    top: 0;
    z-index: 20;
}
#menuHoverZoneHor {
    width: 50vw;
    height: 10rem;
    position: absolute;
    top: 0;
    z-index: 20;
}
#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    &.active {
        z-index: 11;
    }


    #burger {
        color: #FFF;
        font-size: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5rem;
        &.hover {
            opacity: 0;
        }
    }

    #menuList {
        transform: translateX(-100%);
        display: flex;
        flex-flow: column nowrap;
        height: 100vh;
        padding: 0;
        margin: 0;
        transition: .3s ease-out;
        z-index: 20;
        min-width: 600px;
        max-width:100vw;
        background-color: #000;
        @include respond-to(handhelds) { width: 100vw; }
        @include respond-to(medium-screens) { width: 72rem; }
        &.active {
            opacity: 1;
            transform: translateX(0);
        }
        li {
            flex: 1;
            display: flex;
            align-items: center;
            padding-left: 10rem;

            a {
                color: #FFF;
                font-size: 14rem;
                font-weight: bolder;
                transition: .1s ease;
                text-decoration: none;
                text-shadow: rgb(143, 54, 247) 0rem 0rem 20px;
                &:hover {
                    color: #8f36f7;
                    text-shadow: initial;
                }
                &.active {
                    cursor: default;
                    color: #8f36f7;
                    padding-right: 3rem;
                    text-shadow: initial;
                }
            }
        }
    }
}